body{
    /* background-image: url(images/port.jpg); */
    font-family: 'PT Sans', sans-serif;
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: black;
    margin: 0%;
}
h2{
    margin-left: 20px;
    color:rgb(245, 60, 3);
    font-family:calibri;
}
#container{
    display:flex;
    justify-content: space-between; 
    justify-content: flex-end; 
    width: 100%; 
    height: 50px;
}
#container1{
    font-family:  Calibri;
    font-size: 20px;
    padding: 20px;
    margin-left: 30px;
    font-weight:500px;
    color: azure;
}
#container{
    font-family:  Calibri;
    font-size: 30px;
}
#container2{
    font-family:  Calibri;
    text-align: center;
    font-size: 30px;
    color: rgb(245, 60, 3);
}
#container3{
    font-size: 60px;
    font-family:calibri;
    text-align: center;
    color: #f1eded;
    font-weight: bolder;
}
#container4{
    font-size: 20px;
    font-family:calibri;
    text-align: center;
    color: #f1eded;
    font-weight: bolder;
}
#imgchange{
    border: 3px solid rgb(238, 9, 9);
    border-radius: 50%;
} 
#container6 a:hover{
    display: inline;
    background-color: rgb(238, 9, 9);
}
#container6{
    display:flex;
    justify-content: center;
    justify-content: space-between;
    align-items:center;
    width: 500px; 
    height: 50px;
    flex-wrap: wrap;
}
#container6 a{
    text-decoration: none;
    font-family:Calibri;
    color: cornsilk;
    border-radius:5px;
    font-size: 18px;
}

.main5{
    display:flex;
    justify-content: center;
    width: 100%; 
    height: 50px;
    border-radius:5px;
}
.main4{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-between;
    color:aqua;
    width:300px; 
    height: 50px;
    border-radius:5px;
}

#product
{
	width:250px;
    height: 350px;
	display:inline-block;
    color:azure;
	background-color:rgb(245, 59, 3) ;
	border-radius:5px;
	margin:40px;
    flex-wrap: wrap;
}
.main6{
    display: flex;
    width:80%;
    margin: 40px;
    border-radius: 6px;
    flex-wrap: wrap;
    box-shadow:2px 2px 10px rgb(245, 59, 3) ;
}
#container7{
    border-radius: 3px;
    color: azure;
    font-size: 20px;
    font-family:calibri;
    color: #f1eded;
    font-weight: bolder;
}
#container8{
    color:red;
    font-weight: 700;
    float: left;
}
#container9{
    font-weight: 500;
    font-family: calibri;
    font-size: 17px;
    color: aliceblue;
}
.main3{
    display:flex;
    width:100%;
    justify-content: center;
    flex-wrap: wrap;
}
.main7{
    display: block;
    justify-content: center;
    width:80%;
    margin: 40px;
    border-radius: 6px;
    flex-wrap: wrap;
}
#container10{
    display:flex;
    justify-content: center;
    align-items: center;
    width:100%;
    border-radius: 6px;
    flex-wrap: wrap;
}
#container11{
    display:block;
    justify-content: center;
    width: 100px;
    height: 80px;
    border-radius: 4px;
}
.skills {text-align: right; color: white;}
.container12{
    width: 90px;
    height: 20px;
    border-radius: 3px;
    background-color:#ddd;
}
#img{margin-left: 20px;}
.c{width: 65%; background-color: #f44336;}
.cpp{width: 80%; background-color: #2196F3;}
.java{width: 90%; background-color: #04AA6D;}
.html {width: 90%; background-color: #04AA6D;}
.css {width: 80%; background-color: #2196F3;}
.js {width: 65%; background-color: #f44336;}
.mysql {width: 60%; background-color: #808080;}

.main8{
    display: inline-block;
    width:80%;
    margin: 40px;
    border-radius: 6px;
    flex-wrap: wrap;
}
